/* Global Styles */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9ecef;
  color: #343a40;
}

.content {
  align-items: center;
  padding: 5px;
  margin: 20px;
}

/* Flexbox Container */
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: #ebeaea;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 20px;
}

.material-form {
  display: flex;
  gap: 10px; /* Espaçamento entre os elementos */
  margin-bottom: 20px; /* Adicionando um espaço na parte inferior */
}

/* Flexbox for Authentication Components */
.auth-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: #ebeaea;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 20px;
}

.sub-auth-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 20px;
}

/* Input and Button Styles */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  width: 300px;
  padding: 12px;
  margin: 10px 20px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button {
  padding: 12px 24px;
  margin: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.login-button{
  background-color: #ced4da;
}

.auth-buttons {
  display: flex;
  justify-content: center;
}

/* Summary Page Styles */
.summary-container {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 20px auto;
}

.summary-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.material-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.material-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #dee2e6;
}

.material-list div:last-child {
  border-bottom: none;
}

.material-list button {
  background-color: #dc3545;
  transition: background-color 0.3s;
}

.material-list button:hover {
  background-color: #c82333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 20px;
}

.logo {
  width: 5%; 
}

